@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#fff;
}
:root{
    --main-font:"Playfair Display", serif;
    --primary-font:"Roboto", sans-serif;
    --main-color:#239b7e;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.logo{
    margin-left: 5rem;
}

.burger{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-right: 5rem;
}
.burger span{
    border: 2px solid var(--main-color);
    width: 40px;
    height: 1px;
    margin: 2px;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90vh;
    margin-top: 2rem;
}

.main-headings{
    font-size: 4rem;
    font-family: var(--main-font);
    transform: translateY(-40px);
    color: #00000097;

}
.main-headings span{
    color: #000;
}
.primary-headings{
    max-width: 500px;
    font-family: var(--primary-font);
    line-height: 25px;
    margin-bottom: 1rem;
    color: #716d6d;   
}

.btn-fill{
    background: var(--main-color);
    color: #fff;
    border: 2px solid var(--main-color);
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-fill:hover{
    background: #fff;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.btn-outline.active{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background: transparent;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;

}
.btn-outline.active:hover{
    background: var(--main-color);
    color: #fff;
    border: 2px solid var(--main-color);

}

.img-container{
    border-radius: 50%;
    box-shadow: 4px 7px 5px 2px #bcbaba;
}
.header-img{
    border-radius: 100%;
    background: url(mens/men5.jpg);
    background-position: top;
    background-size: contain;
    width: 400px;
    height: 400px;
}

.section-one{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 7rem;
}
.section-one-img{
    background: url(mens/men2.jpg);
    background-position: top;
    background-size: cover;
}



.products{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
}

.products .products-heading{
    font-family: var(--primary-font);
    font-size: 2rem;
    margin-bottom: 3rem;
}
.products .product-catagories button{
    margin-right: 20px;
    margin-bottom: 2rem;
}

.products .product-items-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    max-width: 60rem;
}
.product-items-container .item{
    margin: 20px;
}

.product-items-container .item .item-layer{
    background: #ebf1f0;
    padding: 40px;
    margin-right: 20px;
    margin: 0 auto;
}
.product-items-container .item .item-layer img{
    width: 150px;
    height: 200px;

}
.product-items-container .item .item-name,.product-items-container .item .item-price{
    font-family: var(--primary-font);
    margin-bottom: 10px;
}
.product-items-container .item .view-product{
    text-decoration: none;
    color: var(--main-color);
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
    font-family: var(--primary-font);
}

.customer-reviews{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.customer{
    text-align: center;
}
.customer-heading{
    font-family: var(--primary-font);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10rem;
}
.customer-reviews .customer-description{
    font-size: 12px;
    margin: 30px 10px 10px 10px;
    max-width: 200px;
    text-align: center;
    font-family: var(--primary-font);
}
.customer .customer-img .img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto 20 auto;
    background-size: cover;
    background-position: center;
}
.customer .img-one{
    background: url(mens/men6.jpg);
}
.customer .img-two{
    background: url(mens/men4.jpg);
}
.customer .img-three{
    background: url(mens/men3.jpg);
}
footer{
    background: #1f1e1e;
    margin-top: 10rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    font-family: var(--primary-font);
}
footer .footer-heading{
    margin-bottom: 4rem;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}
footer .footer-primary-heading{
    font-weight: normal;
    font-size: 15px;
    font-family: var(--main-font);
}

@media only screen and (max-width:768px) {
    header{
        text-align: center;
        height: 120vh;
    }
    .section-one{
        text-align: center;
        height: 120vh;
    }
    .header-img{
        width: 250px;
        height: 250px;
    }
    .product-catagories{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}
@media only screen and (min-width:768px){
    .btns-container{
        margin: auto;
        height: 75px;
        text-align: center;
    }
}